body {
    background-color: antiquewhite;
    
    padding: 2px;
}

header {
  display: block;
  background-image: url(https://cdn.pixabay.com/photo/2017/01/17/03/57/desktop-1985856_960_720.jpg) ;
  width: auto;
  border: 2px solid pink;
  border-radius: 10px;
    padding: 5px;
  width: auto;
    height: 300px;
    
   
}

aside {
 
  float: right;

  height: auto;
  width: auto;

}
.header {
  display: block;
  border: 2px solid pink;
  border-radius: 10px;
    padding: 5px;
  font-weight: bolder;
  background-color: white;
  width: 500px;
  height: 200px;
}
.header img {
  width: auto;
  height: 190px;
  float: left;
}
.header p {
  text-align: left;
  margin: 1cm;
  padding: 5px;
}
/*
nav {
    
        overflow: hidden;
        background-color:  grey;
}*/
img {
    width: auto;
    border-radius: 10px;
    height: 200px;
    float: left;
}
nav p {
    text-align: center;
    color: black;
    font-weight: lighter;
    font-size: 14pt;
    
}
.tableau {
  
  display: block;
  background-color: #ECF0F1 ;
  text-align: center;
}
#table1 {
  display: block;
  text-align: center;
  width: auto;
  height: auto;
  background-color: #ECF0F1 ;
  border: 1px solid pink;
  border-radius: 10px;
  text-align: center;
  margin: 5;
}
.nested td {
 
  border: 1px solid white;
  text-align: center;
  margin: 5;
}
#table2 {
 
  border-spacing: 15px;
  text-align: center;
  
}

  .skills {
   display: inline-block;
   padding-left: 15px;
   background-color: #ECF0F1;
  width: 200px;
  border: 1px solid pink;
  text-align: justify;
height: auto;
border-radius: 5px;

  }

.humaines {
  display: block;
  margin: 5px;
  border: 1px solid pink;
  border-radius: 10px;
  text-align: center;
  font-weight: 200;
  padding: 5px;
}
.humaines img {
  display: block;
  position: absolute;
  align-items: right;
  width: 600px;
  height: auto;
  border-radius: 5px;
  z-index: 10;

}
 a span {
    display: none;
 }
a:hover span{
display: block;

margin: 5px;
}
.reseaux {
  display: block;
  width: auto;
  float: right;

}


.logo {
  width: 60px;
  height: 60px;
}
.objectifs {
 
  background-image: url(https://cdn.pixabay.com/photo/2016/01/13/08/08/business-1137367_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 900px;
  padding: 5px;
  height: auto;
  margin: 5px;
  border: 1px solid pink;
  border-radius: 10px;
}
.objectifs {
  background-color: #ECF0F1;
}
* {
  box-sizing: border-box;
}
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid palevioletred;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

footer p {
  display: block;
  width: 900px;
  height: auto;
  border-radius: 10px;
  margin: 5px;
  background-color: #ECF0F1 ;
  border: 1px solid pink;

}