
html, body {

background-color: white;
    width: auto;
    margin: 1px;
    height: auto;
    width: auto;
}

header {
    width: 400px;
    height: 300px;
    background-color: whitesmoke;
    color:white;
    padding:5px;
    box-shadow: 5px 5px grey;
}
img {
    width: auto;
    height: 200px;
}


.grid-container1 {
    display: grid;
   width: auto;
   background-color:grey;
   border-radius: 5px;
    margin: 2px;
    justify-content: center;

}



.grid-block1 {
    display: grid;
    width: auto;
    height: 300px;
    text-align: center;
    background-color: grey;
    border-radius: 5px;
    margin: 2px;
    justify-content: center;
}
.grid-block2 {
    display: grid;
    width: auto;
    height: 300px;
    text-align: center;
    background-color: grey;
    border-radius: 5px;
    margin: 2px;
    justify-content: center;
}
.grid-container3 {
    display: block;
    border-left: 2px;
    }






.grid-block3 {
    display: grid;
    width: auto;
    height: auto;
    text-align: left;
    background-color: grey;
    border-radius: 5px;
    margin: 2px;
    justify-content: center;
}

.grid-container2 {
   display: grid;
   width: auto;
   height: auto;
   background-color:white;
   border-radius: 5px;
    margin: 2px;
    justify-content: center;
    grid-template-columns : auto auto;
}

.grid-container4 {
    display: grid;
    width: auto;
    background-color: whitesmoke;
    border-radius: 5px;
     margin: 2px;
     justify-content: center;
 
}

.grid-block4 {
    display: grid;
    width: auto;
    height: auto;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 5px;
    margin: 2px;
    justify-content: center;
    
    
}


.grid-container5 {
    display: grid;
 width: auto;

   border-radius: 5px;
    margin: 1px;
}
.grid-container6 {
  
        display: inline-block;
        border-left: 2px;
        
}


.html {
    display: inline-block;
    width: 300px;
    height: 50px;
    text-align: center;

    background-color: grey;
    border-radius: 5px;
    margin: 1px;
    justify-content: center;

}